[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/in3d/thirdparty/pyimgui"]
	path = thirdparty/in3d/thirdparty/pyimgui
	url = https://github.com/pyimgui/pyimgui.git
[submodule "lietorch"]
	path = lietorch
	url = C:\\Users\\vdhuldhoya\\wsl_version\\MASt3R-SLAM/lietorch
